<div>
  <h2 id="page-heading" data-cy="UtilisationHeading">
    <span jhiTranslate="armoireApp.utilisation.home.title">Utilisations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="armoireApp.utilisation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-utilisation"
        [routerLink]="['/utilisation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="armoireApp.utilisation.home.createLabel"> Create a new Utilisation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="utilisations?.length === 0">
    <span jhiTranslate="armoireApp.utilisation.home.notFound">No utilisations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="utilisations && utilisations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="armoireApp.utilisation.element">Element</span></th>
          <th scope="col"><span jhiTranslate="armoireApp.utilisation.etat">Etat</span></th>
          <th scope="col"><span jhiTranslate="armoireApp.utilisation.nombre">Nombre</span></th>
          <th scope="col"><span jhiTranslate="armoireApp.utilisation.situation">Situation</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let utilisation of utilisations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/utilisation', utilisation.id, 'view']">{{ utilisation.id }}</a>
          </td>
          <td>{{ utilisation.element }}</td>
          <td>{{ utilisation.etat }}</td>
          <td>{{ utilisation.nombre }}</td>
          <td>
            <div *ngIf="utilisation.situation">
              <a [routerLink]="['/situation', utilisation.situation?.id, 'view']">{{ utilisation.situation?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/utilisation', utilisation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/utilisation', utilisation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(utilisation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
