<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-situation-heading" data-cy="SituationCreateUpdateHeading" jhiTranslate="armoireApp.situation.home.createOrEditLabel">
        Create or edit a Situation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="armoireApp.situation.creation" for="field_creation">Creation</label>
          <input type="text" class="form-control" name="creation" id="field_creation" data-cy="creation" formControlName="creation" />
          <div *ngIf="editForm.get('creation')!.invalid && (editForm.get('creation')!.dirty || editForm.get('creation')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('creation')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="armoireApp.situation.emission" for="field_emission">Emission</label>
          <input type="text" class="form-control" name="emission" id="field_emission" data-cy="emission" formControlName="emission" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="armoireApp.situation.secondDate" for="field_secondDate">Second Date</label>
          <input
            type="text"
            class="form-control"
            name="secondDate"
            id="field_secondDate"
            data-cy="secondDate"
            formControlName="secondDate"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
